@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fdfdfd;
    overflow-x: hidden;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 60px;
    border-bottom: 1px solid #635e5e;
}

.banner h3 {
    font-size: 14px;
    text-align: center;
}

.desktop_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #db4444;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.nav_links ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav_links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.nav_links li a:hover {
    color: #db4444;
    border-bottom: 2px solid #db4444;
}

.search {
    flex-grow: 1;
    max-width: 300px;
}

#search {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-icons a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-icons a:hover {
    color: #db4444;
}

.logout {
    font-size: inherit;
    font-size: inherit;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    background: none;
    border: none;
    cursor: pointer;
}
.logout:hover {
    color: #db4444;
    border-bottom: 2px solid #db4444;
}

.username-profile {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.username-profile span {
    color: #333;
}
.username-profile p {
    color: #db4444;
    text-transform: capitalize;
}
.profile-section {
    display: inline-flex;
}
.manage-account {
    display: block;
    border: 1px solid #f5f5f5;
    box-shadow: 5px 10px 52px #f5f5f5;
    width: 300px;
    height: 300px;
    font-size: 14px;
    margin-left: 20px;
}

.manage-account .management-card h3 {
    text-align: start;
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
}
.manage-account .management-card ul li {
    list-style: none;
    margin-left: 45px;
    margin-bottom: 5px;
}
.manage-account .management-card ul li a {
    text-decoration: none;
    color: #333;
}
.manage-account .management-card ul li a:hover {
    color: #db4444;
}
.edit-profile-card {
    display: block;
    border: 1px solid #f5f5f5;
    box-shadow: 5px 10px 52px #f5f5f5;
    margin-left: 50px;
    width: 60rem;
}
.edit-profile-card h3 {
    display: block;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
    color: #db4444;
    margin-left: 100px;
}

.update-profile-form {
    display: block;
    margin-left: 100px;
    margin-top: 10px;
}
.user-info {
    display: inline-block;
}

.textfield {
    display: inline-block;
    border: none;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    font-size: 18px;
    background-color: #f5f5f5;
}
.user-info-address {
    display: block;
    margin-top: 20px;
}
.user-info-password {
    display: block;
    margin-top: 20px;
}
.user-info-password h3 {
    margin: 0;
    font-weight: 600;
    margin-bottom: 5px;
    display: flex;
    text-align: right;
    color: #333;
}
.submit-button {
    display: flex;
    margin-top: 10px;
    background-color: #db4444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
.submit-button:hover {
    background-color: #c33737;
}
